/*noinspection CssUnknownTarget*/
@import "tailwindcss/base.css";

/*noinspection CssUnknownTarget*/
@import "tailwindcss/components.css";

/*My Imports*/
@import "./asciidoc.pcss";
@import "./components.pcss";

/*noinspection CssUnknownTarget*/
@import "tailwindcss/utilities.css";
