<!DOCTYPE HTML>

<html lang="de" xmlns:th="http://www.thymeleaf.org">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">

    <link rel="stylesheet" th:href="@{/style/tailwind_dev.css}">
<!--    <link rel="stylesheet" th:href="@{/style/tailwind_prod.css}">-->
    <link rel="icon" th:href="@{/image/cookbook.svg}">

    <title th:text="'Kochbuch' + (${title} ? ' - ' + ${title} : '')">Kochbuch</title>
</head>

<body class="bg-gray-200 text-gray-700 select-none">
<header>
    <nav th:fragment="nav" class="fixed w-full top-0 flex items-end bg-white p-6 shadow-lg z-10">
        <div class="flex flex-shrink-0 text-gray-900 mr-6">
            <img class="fill-current h-8 w-8 mr-2" width="54" height="54" th:src="@{/image/cookbook.svg}">
            <span class="heading-1 mb-0 font-semibold">Kochbuch</span>
        </div>
        <div class="w-full flex text-lg tracking-wide text-gray-600">
            <a href="/" class="block hover:text-indigo-900 mr-4 transition-all duration-200">Rezepte</a>
            <a href="/ingredients" class="block hover:text-indigo-900 mr-4 transition-all duration-200">Zutaten</a>
            <a href="/timeline" class="block hover:text-indigo-900 mr-4 transition-all duration-200">Kalender</a>
            <a href="/search" class="block hover:text-indigo-900 mr-4 transition-all duration-200">Suchen</a>
        </div>
    </nav>
</header>

<main th:insert="${bodycontent}" class="mt-24 mb-4 mx-auto w-3/4">

</main>

<footer class="z-10">
    <!-- TODO: Accountinfo -->
</footer>
</body>

<!--
Standard Filestruktur:


<!DOCTYPE html>
<html lang="de" xmlns:th="http://www.thymeleaf.org"
      th:replace="fragments/skeleton :: html(
      title='',
      bodycontent=~{:: bodycontent})">

<th:block th:fragment="bodycontent">

</th:block>

</html>
-->

<!--
Standard Style:

Überschrift: indigo-700
Link hover: indigo-400

Schatten: shadow-md

Polster: py-2 px-4
Abstand: mb-6 für Überschrift
         mb-4 für Karten
-->
