<!DOCTYPE html>
<html lang="de" xmlns:th="http://www.thymeleaf.org"
      th:replace="fragments/skeleton :: html(title='Zutaten', bodycontent=~{:: bodycontent})">

<th:block th:fragment="bodycontent">
    <h1 class="heading-1">Alle Zutaten</h1>
    <a class="btn-indigo mb-4" th:href="@{/ingredients/new}">Neue Zutat</a>

    <a th:each="ingrDTO : ${ingrDTOs}" th:href="@{/ingredients/{id} (id=${ingrDTO.getExternal()()})}">
        <div class="cnt-card-trans cursor-pointer hover:shadow-xl hover:scale-105">
            <h1 class="heading-1 mb-0" th:text="${ingrDTO.getTitle()}"></h1>
        </div>
    </a>
</th:block>

</html>
