<!DOCTYPE html>
<html lang="de" xmlns:th="http://www.thymeleaf.org"
      th:replace="fragments/skeleton :: html(
      title='Details',
      bodycontent=~{:: bodycontent})">

<th:block th:fragment="bodycontent">
    <h1 class="font-light text-2xl select-none mb-3 text-teal-700" th:text="${recipe.getTitle()}"></h1>
    <p th:text="${recipe.getDescription()}" class="text-md font-light select-none mb-4"></p>
    <div class="bg-white shadow-md rounded w-full h-full p-4">
        <!--
        <div class="flex-row">
            <span class="w-full"></span>
            <span class="bg-green-700 rounded-full p-1 font-light text-white text-xs select-none">Schnell</span>
        </div>
        <hr class="border-t-1 border-solid border-teal-900 my-2">
        -->
        <p th:text="${recipe.getBody()}" class="text-md select-none"></p>
    </div>
</th:block>

</html>
