<!DOCTYPE html>
<html lang="de" xmlns:th="http://www.thymeleaf.org"
      th:replace="fragments/skeleton :: html(
      title='Rezepte',
      bodycontent=~{:: bodycontent})">

<th:block th:fragment="bodycontent">
    <h1 class="font-light text-2xl select-none mb-6">Alle Rezepte</h1>
    <a class="btn-indigo mb-4 inline-block" th:href="@{/new}">Neues Rezept</a>
    <a th:each="recipe : ${recipes}" th:href="@{/details/{id} (id=${recipe.getRecipeID()})}">
        <div class="rounded bg-white shadow-md mb-4 p-4 hover:shadow-xl transition-all duration-200 cursor-pointer transform hover:scale-105">
            <h1 class="text-indigo-700 font-light text-xl tracking-wide" th:text="${recipe.getRecipeTitle()}"></h1>
            <hr class="sep-indigo">
            <p th:text="${recipe.getRecipeDescr()}" class="text-md select-none"></p>
        </div>
    </a>
</th:block>

</html>
