<!DOCTYPE html>
<html lang="de" xmlns:th="http://www.thymeleaf.org"
      th:replace="fragments/skeleton :: html(
      title='Zutaten',
      bodycontent=~{:: bodycontent})">

<th:block th:fragment="bodycontent">
    <h1 class="font-light text-2xl select-none mb-6">Alle Zutaten</h1>
    <a class="btn-teal mb-4 inline-block" th:href="@{/ingredients/new}">Neue Zutat</a>
    <a th:each="ingredient : ${ingredients}" th:href="@{/ingredients/{id} (id=${ingredient.getId()})}">
        <div class="rounded bg-white shadow-md mb-4 p-4 hover:shadow-xl transition-all duration-200 cursor-pointer transform hover:scale-105">
            <h1 class="text-teal-700 font-light text-xl tracking-wide" th:text="${ingredient.getTitle()}"></h1>
        </div>
    </a>
</th:block>

</html>
