<!DOCTYPE html>
<html lang="de" xmlns:th="http://www.thymeleaf.org"
      th:replace="fragments/skeleton :: html(title='Neue Zutat', bodycontent=~{:: bodycontent})">

<th:block th:fragment="bodycontent">
    <h1 class="heading-1">Neue Zutat</h1>
    <p class="heading-3">Eine neue Zutat für die Verwendung in Rezepten registrieren.</p>
    <div class="cnt-card">
        <form th:action="@{/ingredients/new/submit}" method="post">
            <div class="mb-4">
                <label for="ingredient_title" class="form-label">Name</label>
                <input type="text" name="ingredient_title" placeholder="Name" id="ingredient_title" required
                       minlength="3" maxlength="64" class="form-field">
            </div>
            <div class="mb-4">
                <label for="ingredient_type" class="form-label">Kategorie</label>
                <select class="form-selector" id="ingredient_type" name="ingredient_type" required>
                    <option th:each="type : ${types}" th:value="${type}" th:text="${type}"></option>
                </select>
            </div>
            <input type="submit" class="btn-indigo">
        </form>
    </div>
</th:block>

</html>
