<!DOCTYPE html>
<html lang="de" xmlns:th="http://www.thymeleaf.org"
      th:replace="fragments/skeleton :: html(title='Rezept Details', bodycontent=~{:: bodycontent})">

<th:block th:fragment="bodycontent">
    <h1 class="heading-1" th:text="${recipeDTO.getTitle()}"></h1>
    <p th:text="${recipeDTO.getDescr()}" class="heading-3"></p>

    <div class="cnt-card">
        <h1 class="heading-2">Zutaten</h1>
        <hr class="sep-indigo">
        <ul class="list-disc list-inside">
            <li th:each="ingr : ${ingredients}" th:text="${ingr.getTitle()}"></li>
        </ul>
    </div>

    <div class="cnt-card">
        <!--
        <div class="flex-row">
            <span class="w-full"></span>
            <span class="bg-green-700 rounded-full p-1 font-light text-white text-xs select-none">Schnell</span>
        </div>
        <hr class="border-t-1 border-solid border-indigo-900 my-2">
        -->
        <div class="markdown">
            <th:block th:utext="${bodyhtml}"></th:block>
        </div>
    </div>
</th:block>

</html>
